### The usual toolkit.
### I haven't bothered pinning versions
### except for pandas because there was a 1.0.0 bug where .groupby().apply(list) would throw an error, lol.

# the classics
pandas>=1.0.1
numpy
sklearn
statsmodels

# vis libraries

# plotly/dash good combo. Dash is like plotly's shiny and with flask-likehosting capabilities.
# you can do some interesting things with Dash when built into a flask app.
plotly
dash

# std library for plotting as far as I am concerned
matplotlib
seaborn

# datashader is newer and it's really interesting to have in your back pocket for very quick
# vis of very large (millions of rows) datasets.
# I enjoy using for geographic visualizations. I am incorporating this into my analysis more often.
# Datashader is extremely fast and produces high quality images for large datasets
# Use when traditional plotting (above) fails under load.
datashader

# plotly color library, I think it's like matplotlib's colormap
# I think a project with this package is something I am going to work on first
colorlover

# useful for quick geojson choropleths or point maps
# can only really handle 1000s of points, max
folium

# some support tools
ipykernel
jupyter

# how about some PostGres
psycopg2

# good source of public timeseries data with objective outcomes (profit/loss)
yfinance

# helpful with folium for generating some on the fly choropleths
geojson

#conda installs
# conda install -c conda-forge gdal
# conda install fiona -- installs shapely & click, awesome!
